<div>
  <ng-container *ngIf="data[objectKey]">
    <ng-container *ngFor="let line of data[objectKey][lang]">
      <ng-container
        *ngIf="line.children[0].text === '/hr'; then divisor; else text"
      ></ng-container>
      
      <ng-template #divisor>
        <app-line-divisor [marginTop]="6"></app-line-divisor>
      </ng-template>

      <ng-template #text>
        <ng-container
          *ngIf="line.listItem; then bullet; else normal"
        ></ng-container>
      </ng-template>

      <ng-template #bullet>
        <app-bullet *ngIf="line.listItem; else normal" [noDivisor]="true">{{
          line.children[0].text
        }}</app-bullet>
      </ng-template>

      <ng-template #normal>
        <div class="pt-2" class="{{ line.style === 'h4' ? 'text-lg font-semibold' : 'text-sm' }}">
          {{ line.children[0].text }}
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</div>
