<ng-container *ngIf="!overlayOnHover; else withOverlay">
  <div [class]="getStyles()">
    <img [src]="src" alt="" />
  </div>
</ng-container>

<ng-template #withOverlay>
  <div [class]="getStyles()" class="relative">
    <div class="group relative">
      <img
        [src]="src"
        alt=""
        class="round- scale-100 ease-[cubic-bezier(0.25, 0.45, 0.45, 0.95)] duration-[4000ms] group-hover:scale-110"
      />
      <div
        class="round absolute top-0 left-0 w-full h-full bg-[#18181892] opacity-0 group-hover:opacity-50 duration-500"
      ></div>
      <div
        class="absolute top-0 left-0 w-full h-full bg-transparent opacity-0 group-hover:opacity-100 duration-500"
      >
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</ng-template>
