/* You can add global styles to this file, and also import other style files */
@import "~material-icons/iconfont/material-icons.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html {
    scroll-behavior: smooth;
    overscroll-behavior: contain;
  }
  .home-hero-gradiant {
    background: linear-gradient(
      180deg,
      rgba(239, 203, 29, 0.4) 90%,
      rgba(239, 203, 29, 1) 90%
    );
  }

  .material-icon {
    @apply h-3 w-3;
  }

  // Sidebar styles
  .sidebar-open {
    visibility: visible;
    animation-duration: 4ms;
    transition: ease-in;
    animation-fill-mode: forwards;
    /* animation-name: sidebar; */
  }

  .sidebar-close {
    visibility: hidden;
    animation-duration: 2ms;
    transition: ease-out;
    animation-fill-mode: forwards;
    background-color: rgb(216, 215, 205);
  }

  // Swiper styles
  .swiper-pagination-bullet-active {
    background-color: rgba(239, 203, 29, 1) !important;
  }
  /* container of the swiper instance, same padding as the space between property in the props of swiper => puts the arrows outside of the container */
  .swiper-initialized {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: rgba(239, 203, 29, 1) !important;
  }

  /* hides the drop-shadows  of the elements that overflow in carousel, otherwise we see the next one*/
  .swiper-slide {
    padding-left: 8px;
    padding-right: 8px;
  }

  .swiperThumbs .swiper-slide {
    opacity: 0.6;
  }

  .swiperThumbs .swiper-slide-thumb-active {
    @apply opacity-100;
  }

  // aos animations
  [data-aos="fade-left-custom"] {
    opacity: 0;
    transform: translate(20px);
    &.aos-animate {
      opacity: 1;
      transform: translate(0);
    }
  }

  [data-aos="fade-up-custom"] {
    opacity: 0;
    transform: translate(0, 20px);
    &.aos-animate {
      opacity: 1;
      transform: translate(0);
    }
  }

  // ng-select input styles
  
}
