/* You can add global styles to this file, and also import other style files */
@import '~material-icons/iconfont/material-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {

    .sidebar-open{
      visibility: visible;
      animation-duration: 4ms;
      transition: ease-in;
      animation-fill-mode: forwards;
      /* animation-name: sidebar; */
    }

    .sidebar-close{
      visibility: hidden;
      animation-duration: 2ms;
      transition: ease-out;
      animation-fill-mode: forwards;
      /* animation-name: sidebar; */
      /* animation-name: sidebarClose;
      animation-duration: 10ms;
      animation-fill-mode: forwards;
      visibility: hidden !important; */
      }
/* 
      @keyframes sidebar{
        from{visibility: hidden;}
        to{visibility: visible;}
      }   */


    .material-icon{
        @apply h-3 w-3;
    }
    .swiper-pagination-bullet-active {
        background-color:rgba(239, 203, 29, 1) !important;
      }
      .swiper-wrapper{
        padding-bottom:60px !important; 
        padding-left:5px !important; 
        padding-right:5px !important; 
      }
}
