/* You can add global styles to this file, and also import other style files */
@import '~material-icons/iconfont/material-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {

    .home-hero-gradiant{
      background: linear-gradient(180deg, rgba(239, 203, 29, 0.4) 90%, rgba(239, 203, 29, 1) 90%);
    } 
    .sidebar-open{
      visibility: visible;
      animation-duration: 4ms;
      transition: ease-in;
      animation-fill-mode: forwards;
      /* animation-name: sidebar; */
    }

    .sidebar-close{
      visibility: hidden;
      animation-duration: 2ms;
      transition: ease-out;
      animation-fill-mode: forwards;
      /* animation-name: sidebar; */
      /* animation-name: sidebarClose;
      animation-duration: 10ms;
      animation-fill-mode: forwards;
      visibility: hidden !important; */
      }
/* 
      @keyframes sidebar{
        from{visibility: hidden;}
        to{visibility: visible;}
      }   */


    .material-icon{
        @apply h-3 w-3;
    }
    .swiper-pagination-bullet-active {
        background-color:rgba(239, 203, 29, 1) !important;
      }
      /* container of the swiper instance, same padding as the space between property in the props of swiper => puts the arrows outside of the container */
      .swiper-initialized{
        padding-left: 40px !important;
        padding-right: 40px !important;
      }
      .swiper-wrapper{
        padding-bottom:60px !important; 
        /* padding-left:5px !important; 
        padding-right:5px !important;  */
      }
      .swiper-button-next, .swiper-button-prev {
        color: rgba(239, 203, 29, 1) !important;
      } 

      /* hides the drop-shadows  of the elements that overflow in carousel, otherwise we see the next one*/
      .swiper-slide{
        padding-left: 8px;
        padding-right: 8px;
      }
      
     
}
