<div class="py-4 w-screen fixed hover:bg-[#efcc1d37] drop-shadow-ms">
  <!-- <div class="flex i mx-auto container"> -->
  <!-- <div class="grow"></div> -->
  <div class="flex gap-4 items-center justify-center">
    <!-- <BaseButton title="Produits" link="/products" variant="text-only"/>
      <BaseButton title="Stylisme" link="/stylism" variant="text-only"/>
      <BaseButton title="À Propos" link="/about" variant="text-only"/>
      <BaseButton title="Me Contacter" link="/contact" variant="text-only"/>
      <BaseButton title="Fr" variant="text-only"/> -->
    <div>
      <img
        class="w-10 h-10 cursor-pointer"
        src="/assets/svg/bikanky-logo.svg"
        alt="logo Bikanky"
      />
    </div>
    <app-base-button
      [text]="'Produits'"
      [variant]="'text-only'"
      [underlineOnHover]="true"
    ></app-base-button>
    <app-base-button
      [text]="'Stylisme'"
      [variant]="'text-only'"
      [underlineOnHover]="true"
    ></app-base-button>
    <app-base-button
      [text]="'À Propos'"
      [variant]="'text-only'"
      [underlineOnHover]="true"
    ></app-base-button>
    <app-base-button
      [text]="'Me contacter'"
      [variant]="'text-only'"
      [underlineOnHover]="true"
    ></app-base-button>
    <app-base-button [text]="'Fr'" [variant]="'text-only'" [underlineOnHover]="true"></app-base-button>
    <!-- <CartButton :number="10" /> -->
  </div>
  <!-- </div> -->
</div>
