<div class="container mb-28" id="home-products">
  <div class="block lg:flex lg:gap-14 lg:justify-center">
    <div class="max-w-[500px] flex flex-col justify-center">
      <p class="text-5xl font-semibold mb-4">Services de stylisme</p>
      <p class="text"></p>
      <div class="mb-6">
        <p class="text-2xl font-semibold mb-1">Magasinage pour vous</p>
        <p>
          fdhg dsgkjh dsgkjhdskgh dsgkjhd dgkjh dgkjhdkfgjhsd dkgjhd dkjghd
          kjhdg skdjg dksjghd dgkjhd jsafhg sjfhg asfjhgas fsajfhg asfjhg safsjahfg asf 
        </p>
      </div>
      <div class="mb-6"> 
        <p class="text-2xl font-semibold mb-1">Magasinage pour vous</p>
        <p>
          fdhg dsgkjh dsgkjhdskgh dsgkjhd dgkjh dgkjhdkfgjhsd dkgjhd dkjghd
          kjhdg skdjg dksjghd dgkjhd jsafhg sjfhg asfjhgas fsajfhg asfjhg safsjahfg asf 
        </p>
      </div>
    </div>
    <div class="flex justify-center drop-shadow-md" data-aos="fade-right">
      <img
        class="w-52 xl:w-72 h-auto cursor-pointer rounded-2xl "
        src="/assets/img/designer_main.jpg"
        alt="logo Bikanky"
      />
    </div>
  </div>
</div>
