<div class="container mb-28 pb-4" id="home-products">
  <div class="block lg:flex lg:gap-14 lg:justify-center">
    <div
      class="max-w-[500px] flex flex-col justify-start"
      data-aos="fade-up-custom"
    >
      <p class="text-5xl font-semibold mb-4">Services de stylisme</p>
      <ng-container *ngIf="stylismServices$ | async as services">
        <ng-container *ngIf="lang$ | async as lang">
          <ng-container *ngFor="let service of services">
            <div class="mb-6">
              <p class="text-2xl font-semibold mb-1">{{ service.title }}</p>
              <p>
                {{ service.shortDescription[lang].children.text}}
              </p>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <div class="flex justify-center drop-shadow-md" data-aos="fade-left-custom">
      <img
        class="w-52 xl:w-72 h-auto cursor-pointer rounded-2xl"
        src="/assets/img/designer_main.jpg"
        alt="logo Bikanky"
      />
    </div>
  </div>
</div>
