<div data-aos="zoom-in" data-aos-duration="700" data-aos-once="true">
  <swiper
    [config]="config"
    class="max-w-[300px] md:max-w-none rounded-3xl bg-paleWhite"
  >
    <ng-template swiperSlide *ngFor="let slide of slides">
      <ng-container [ngSwitch]="variant">
        <div data-aos="flip-left" data-aos-duration="1000"  data-aos-once="true">
          <app-testimonial-card
            [testimonial]="slide"
            *ngSwitchCase="'testimonial'"
          ></app-testimonial-card>
        </div>
        <div
          class="mt-20"
          *ngSwitchCase="'product'"
          data-aos="flip-right"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <app-product-card [product]="slide"></app-product-card>
        </div>
        <app-image
          *ngSwitchCase="'image'"
          [width]="'w-auto'"
          [height]="'h-full'"
          [src]="slide.imageUrl"
        ></app-image>
      </ng-container>
    </ng-template>
  </swiper>
</div>
