<swiper
  [config]="config"
  class="min-w-[350px] max-w-[450px] md:max-w-none"
  *ngIf="!withThumbs"
>
  <ng-template swiperSlide *ngFor="let slide of slides">
    <ng-container [ngSwitch]="variant">
      <app-testimonial-card
        [testimonial]="slide"
        *ngSwitchCase="'testimonial'"
      ></app-testimonial-card>
      <div class="mt-[70px]" *ngSwitchCase="'product'">
        <app-product-card
          [title]="slide.title"
          [lengthType]="slide.defaultProductVariant.lengthType.title"
          [price]="slide.defaultProductVariant.price"
          [options]="slide.defaultProductVariant.options"
          [image]="slide.defaultProductVariant.images[0].imageUrl"
          [product]="slide"
          [starOfTheSeason]="slide.starOfTheSeason"
        ></app-product-card>
      </div>
      <app-image
        *ngSwitchCase="'image'"
        [width]="'w-auto'"
        [height]="'h-full'"
        [src]="slide.imageUrl"
      ></app-image>
    </ng-container>
  </ng-template>
</swiper>

<div [class]="withThumbs ? 'block' : 'hidden'">
  <div class="swiper swiperMain">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of slides">
        <app-image
          [width]="'w-auto'"
          [height]="'h-full'"
          [src]="slide.imageUrl"
        ></app-image>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="swiper swiperThumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide cursor-pointer" *ngFor="let slide of slides">
        <app-image
          [width]="'w-auto'"
          [height]="'h-full'"
          [src]="slide.imageUrl"
        ></app-image>
      </div>
    </div>
  </div>
</div>
