<swiper [config]="swiperConfig" class="max-w-[300px] md:max-w-none"  >
  <ng-template swiperSlide *ngFor="let slide of slides">
    <ng-container [ngSwitch]="variant" >
      <app-testimonial-card
        [testimonial]="slide"
        *ngSwitchCase="'testimonial'"
      ></app-testimonial-card>

      <div class="mt-20" *ngSwitchCase="'product'">
        <app-product-card [product]="slide"></app-product-card>
      </div>
      <app-image
        *ngSwitchCase="'image'"
        [width]="'w-80'"
        [height]="'h-96'"
        [src]="slide.imageUrl"
      ></app-image>
    </ng-container>
  </ng-template>
</swiper>


