<div class="relative container mb-28">
  <div>
    <div class="flex justify-between mb-10 min-h-[400px] gap-6">
      <div *ngFor="let product of products$ | async" class="flex-initial w-[350px]">
        <app-product-card
         
        
        
          [product]="product"
        ></app-product-card>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <app-base-button
      [variant]="'text-button'"
      [text]="'Voir plus de produits'"
    ></app-base-button>
  </div>
</div>
