<div class="relative container mb-28">
  <div class="flex justify-between mb-10 gap-10">
    <div *ngFor="let product of products$ | async">
      <!-- <div class="w-[400px] bg-black">asfhask jhfgsaj  hfgaskj fgsakjfh gaskjghsafkjh gsakfhgs adjha gsfkjhsdagf ksha gfkhasg</div> -->
      <app-product-card
        [src]="product.defaultProductVariant.images[0].imageUrl"
        [title]="product.title"
        [subTitle]="product.defaultProductVariant.title"
        [startingPrice]="product.defaultProductVariant.price"
      ></app-product-card>
    </div>
  </div>
  <div class="flex justify-center">
    <app-base-button
      [variant]="'text-button'"
      [text]="'Voir plus de produits'"
    ></app-base-button>
  </div>
</div>
