  <div class="group w-80 rounded-md drop-shadow-md ">
    <app-image
      [overlayOnHover]="true"
      [landScape]="true"
      [width]="'full'"
      [src]="location.image.imageUrl"
      [noRadiusBottom]="true"
    >
      <div
        class="absolute w-full h-full text-center flex flex-col justify-around"
      >
        <div class="" *ngIf="location.logo">
          <app-image [src]="location.logo.imageUrl"></app-image>
        </div>
      </div>
    </app-image>
    <div class="bg-white rounded-b-lg py-4">
      <app-bullet [noDivisor]="true" *ngIf="location.address">
        <div class="leading-4">
          {{ formatString.formatAddress(location.address) }}
        </div>
      </app-bullet>
      <app-bullet [noDivisor]="true"
        ><div class="font-semibold">
          {{ formatString.formatPhoneNumber(location.phoneNumber) }}
        </div>
      </app-bullet>
      <app-bullet *ngIf="location.website" [noDivisor]="true">
        <app-base-button
          [noPadding]="true"
          [variant]="'text-only'"
          [text]="location.website"
          [href]="location.website"
        ></app-base-button>
      </app-bullet>
    </div>
  </div>


