<div class="z-20 relative">
<ng-container *ngIf="currentVariant">
  <app-emply-card [width]="'w-72'" [marginsY]="'mt-10'">
    <div class="text-3xl font-semibold leading-none">{{ currentVariant.mainProductTitle.toUpperCase() }}</div>
    <div class="text-lg font-semibold leading-none">{{ currentVariant.lengthType.title.toUpperCase() }}<span class="material-icons text-accent text-xl">help</span> </div>
    <div class="text-base font-normal  leading-none text-paleGray mt-1">{{ currentVariant.sku.toUpperCase() }}</div>
    <div class="mt-3">
      <app-price [price]="currentVariant.price"></app-price>
    </div>
    
    
    <app-line-divisor [marginTop]="6"></app-line-divisor>
    <div class="mt-3">
      <app-dropdown-select
        [label]="'selectionnez un model:'"
        [variants]="allVariants"
        [currentVariant]="currentVariant"
      ></app-dropdown-select>
    </div>
  </app-emply-card>
</ng-container>
</div>
