<!-- <div class="relative overflow-hidden mb-12">
  <img class="w-screen" src="/assets/svg/hero_background.svg" alt="" />
</div> -->

<div class="">
  <div class="bg-transparentAccent">
    <div class="relative mr-0 flex justify-end">
      <div>
        <p class="text-6xl pt-32 font-semibold">
          Une paire de manches pour chaque outfit
        </p>
        <p class="text-xl pt-6">
          Une paire de manches pour chaque outfit htjhd dfjhgsdf sdjfhgs fsfgs sdfhdjfhsgdf sjdfhg
        </p>
        <app-base-button [text]="'Voir les produits'" [size]="'big'" [variant]="'text-button'" [color]="'[#fdf4d9]'"></app-base-button>
      </div>
      <div class="w-[700px] my-12 relative out">
        <img src="assets/img/home_top.png" type alt="" />
      </div>
    </div>
  </div>
  <div class="h-32 bg-accent relative"></div>
</div>

<!-- <div class="justify-end rounded-lg flex z-10 relative top-24 mb-52">
  
</div> -->

<!-- <div class="container">
  <p class="text-6xl">Une paire de manche pour rafiner votre tenue</p>
</div> -->
