<div class="mb-10">
  <div class="w-2/5 overflow-hidden rounded-lg mx-auto absolute right-0 top-24">
    <img src="assets/img/home_top.png" type alt="" />
  </div>

  <div class="h-[60rem] overflow-hidden">
    <img class="w-screen" src="/assets/svg/hero_background.svg" alt="">
  </div>


  <!-- <div class="h-[32rem] bg-transparentAccent">
  </div>
  <div class="h-48 bg-accent"></div> -->
</div>

<!-- <div class="container">
  <p class="text-6xl">Une paire de manche pour rafiner votre tenue</p>
</div> -->