<app-container>
  <app-card-title [title]="'Produits'"></app-card-title>
  <div class="">
    <div class="flex flex-wrap justify-around gap-6">
      <div
        *ngFor="let product of products$ | async"
        class="flex-initial w-[250px] pt-16"
      >
        <div>
          <app-aos-wrapper [animation]="'flip-right'">
            <app-product-card
              [noBulletPoints]="true"
              [product]="product"
            ></app-product-card>
          </app-aos-wrapper>
        </div>
      </div>
    </div>
  </div>
</app-container>
