<div
  class="relative container mb-28 mt-16 pb-4 bg-paleWhite rounded-3xl"
  data-aos="zoom-in"
  data-aos-duration="700"
  data-aos-once="true"
>
  <app-card-title [title]="'Produits'"></app-card-title>
  <div class="">
    <div class="flex flex-wrap justify-around gap-6">
      <div
        *ngFor="let product of products$ | async"
        class="flex-initial w-[250px] pt-16"
      >
        <div>
          <app-aos-wrapper [animation]="'flip-right'">
            <app-product-card
              [noBulletPoints]="true"
              [product]="product"
            ></app-product-card>
          </app-aos-wrapper>
        </div>
      </div>
    </div>
  </div>
</div>
