<div
  class="relative h-full m-2 rounded-2xl bg-white lg:bg-[#f9f9f9e5] lg:hover:bg-white lg:hover:-translate-y-3 lg:transition-all ease-in-out duration-300 flex-initial drop-shadow-lg lg:drop-shadow-none lg:hover:drop-shadow-lg"
>
  <div
    class="w-fit mx-auto absolute top-14 translate-x-[-50%] translate-y-[-50%] left-[50%] drop-shadow-md"
  >
    <ng-container *ngIf="product.defaultProductVariant">
      <app-image
        [src]="product.defaultProductVariant.images[0].imageUrl"
      ></app-image>
    </ng-container>
  </div>

  <div class="w-full px-4 pt-48 pb-20 h-full">
    <p class="text-xl lg:text-2xl font-semibold text-center mt-3">
      {{ product.title }}
    </p>
    <p
      *ngIf="product.defaultProductVariant.variantTitle"
      class="text-base lg:text-lg font-semibold text text-center mt-1"
    >
      ({{ product.defaultProductVariant.variantTitle }})
    </p>
    <p class="text-sm text-center mt-2">
      à partir de
      <span class=""
        >{{ refactorPrice(product.defaultProductVariant.price) }}$</span
      >
    </p>
    <!-- <div class="mt-6 flex justify-center gap-4">
      
    </div> -->
    <div *ngIf="!noBulletPoints">
      <div *ngFor="let bullet of product.bulletPoints">
        <app-bullet>{{ bullet.text.fr }}</app-bullet>
      </div>
    </div>
    <!-- button position absolute at the bottom of the relative container. container has pb-20 to prevent content to go on button  -->
    <div
      class="absolute flex gap-2 bottom-0 translate-x-[-50%] translate-y-[-50%] left-[50%]"
    >
      <app-base-button
        [text]="'Options'"
        [variant]="'text-button-border'"
        [routerLink]="routerLink"
      ></app-base-button>
      <!-- <app-base-button   
        [icon]="'add_shopping_cart'"
        [variant]="'text-button'"
        [addBorder]="true"
      ></app-base-button> -->
    </div>
  </div>
</div>

<!-- <ng-container>product.defaultProductVariant.images[0].imageUrl</ng-container> -->
