<div class="flex gap-2">
  <ng-container *ngIf="!mediaIcon; then loading; else data"></ng-container>

  <ng-template #loading></ng-template>

  <ng-template #data>
    <ng-container>
      <ng-container
        *ngIf="mediaIcon.mediaLink; then media; else default"
      ></ng-container>

      <ng-template #default>
        <div class="flex gap-2 items-center  opacity-75 hover:opacity-100 hover:cursor-pointer">
          <!-- <div>
            <img
              class="w-6 h-6 cursor-pointer"
              [src]="getIcon(mediaIcon.mediaName)"
              [alt]="mediaIcon.mediaName"
            />
          </div> -->
          <div class="font-semibold">
            {{
              mediaIcon.mediaName === "phone"
                ? formatString.formatPhoneNumber(mediaIcon.contact)
                : mediaIcon.contact
            }}
          </div>
        </div>
      </ng-template>

      <ng-template #media>
        <a [href]="mediaIcon.mediaLink" target="_blank">
          <div class=" opacity-75 hover:opacity-100">
            <img
              class="w-6 h-6 cursor-pointer"
              [src]="getIcon(mediaIcon.mediaName)"
              [alt]="mediaIcon.mediaName"
            />
          </div>
        </a>
      </ng-template>
    </ng-container>
  </ng-template>
</div>
