<div
  data-aos="fade-down"
  data-aos-delay="300"
  data-aos-duration="1000"
  class="header-bg-color py-4 w-screen fixed hover:bg-[#efcc1d37] drop-shadow-md z-40"
  [class]="
    headerChange || defaultHeader
      ? 'bg-gray-100 hover:bg-transparentHover transition-all ease-in-out duration-200'
      : ''
  "
  (scroll)="scrollFunction($event)"
>
  <!-- <div class="flex i mx-auto container"> -->
  <!-- <div class="grow"></div> -->
  <div class="flex gap-4 items-center justify-center">
    <!-- <BaseButton title="Produits" link="/products" variant="text-only"/>
          <BaseButton title="Stylisme" link="/stylism" variant="text-only"/>
          <BaseButton title="À Propos" link="/about" variant="text-only"/>
          <BaseButton title="Me Contacter" link="/contact" variant="text-only"/>
          <BaseButton title="Fr" variant="text-only"/> -->

    <div (click)="handleClick()">
      <a routerLink="/">
        <img
          class="w-10 h-auto cursor-pointer outilne"
          src="/assets/svg/bikanky-logo.svg"
          alt="logo Bikanky"
        />
      </a>
    </div>
    <div (click)="handleClick()">
      <app-base-button
        [text]="'Produits'"
        [variant]="'text-only'"
        [underlineOnHover]="true"
        [routerLink]="'products'"
      ></app-base-button>
    </div>
    <div (click)="handleClick()">
      <app-base-button
        [text]="'Stylisme'"
        [variant]="'text-only'"
        [underlineOnHover]="true"
        [routerLink]="'stylism'"
      ></app-base-button>
    </div>
    <div (click)="handleClick()">
      <app-base-button
        [text]="'Matières'"
        [variant]="'text-only'"
        [routerLink]="'materials'"
        [underlineOnHover]="true"
      ></app-base-button>
    </div>
    <div (click)="handleClick()">
      <app-base-button
        [text]="'À propos ☎'"
        [variant]="'text-only'"
        [routerLink]="'about'"
        [underlineOnHover]="true"
      ></app-base-button>
    </div>
    <!-- <app-base-button
      [text]="'Me contacter'"
      [variant]="'text-only'"
      [underlineOnHover]="true"
      [routerLink]="'contact'"
    ></app-base-button> -->
    <!-- <app-base-cart-button [numberItem]="4"></app-base-cart-button> -->
    <!-- <app-base-button
      [text]="'Fr'"
      [variant]="'text-only'"
      [underlineOnHover]="true"
    ></app-base-button> -->
  </div>
</div>
<div *ngIf="defaultHeader" class="h-20"></div>
