<!-- <div class="relative overflow-hidden mb-12">
  <img class="w-screen" src="/assets/svg/hero_background.svg" alt="" />
</div> -->

<div class="overflow-hidden">
  <div class="h-100% home-hero-gradiant md:h-screen flex flex-col">
    <div class="flex container gap-8">
      <div class="md:flex gap-20">
        <div class="relative">
          <div
            class="absolute w-[550px] h-[550px] opacity-20 translate-x-[-20rem] translate-y-[-10rem] bg-accent rounded-full"
          ></div>
          <div
            class="absolute w-[200px] h-[200px] opacity-20 translate-x-[20rem] translate-y-[20rem] bg-accent rounded-full"
          ></div>
          <div
            class="absolute w-[500px] h-[500px] opacity-20 translate-x-[50rem] translate-y-[10rem] bg-accent rounded-full"
          ></div>
          <p
            data-aos="fade-up-custom"
            data-aos-duration="1000"
            class="text-4xl lg:text-5xl xl:text-5xl mt-10 md:mt-28 font-semibold w-36"
          >
            Vous&nbsp;voulez&nbsp;ajouter un&nbsp;peu&nbsp;de&nbsp;piquant
            à&nbsp;votre&nbsp;tenue?
            <!-- Your&nbsp;outfit&nbsp;could&nbsp;use an&nbsp;extra&nbsp;touch of&nbsp;pizzazz? -->
          </p>

          <p
            data-aos="fade-up-custom"
            data-aos-duration="1000"
            class="text-lg lg:text-xl mt-4 w-64"
          >
            Ajoutez-y&nbsp;une&nbsp;touche&nbsp;de&nbsp;vous&#8209;même
            avec&nbsp;les&nbsp;manches uniques
            et&nbsp;personnalisables&nbsp;de&nbsp;<span class="font-semibold"
              >Bikanky</span
            >.
          </p>
          <div
            class="mt-14 mb-36 w-fit"
            data-aos="zoom-in"
            data-aos-duration="300"
            data-aos-delay="700"
            data-aos-ease="ease-in-out-back"
          >
            <app-base-button
              [text]="'Voir les produits'"
              [size]="'big'"
              [variant]="'text-button'"
              [textColor]="'white'"
              [routerLink]="'products'"
            ></app-base-button>
          </div>
        </div>
        <!-- placeholder for the absolute image -->
        <div
          class="hidden md:block md:w-[450px] lg:w-[500px] xl:w-[700px] 2xl:w-[800px] w-[300px]"
        ></div>
      </div>
      <div
        class="hidden md:block md:absolute mt-24 right-0"
        data-aos="fade-left-custom"
        data-aos-duration="400"
        data-aos-delay="200"
        data-aos-ease="ease-in-out"
      >
        <img
          src="assets/img/home_top.png"
          class="w-[250px] md:w-[400px] lg:w-[500px] xl:w-[600px] 2xl:w-[800px] h-auto"
          alt=""
        />
      </div>
    </div>
    <div class="hidden md:flex flex-grow flex-col items-center justify-end">
      <app-base-button
        (handleClick)="handleClick()"
        class="animate-bounce"
        [variant]="'icon'"
        [icon]="'arrow_downward'"
        [iconSize]="'text-5xl'"
        [iconColor]="'text-white'"
      ></app-base-button>
    </div>
  </div>
  <!-- <div class="h-32 bg-accent"></div> -->
</div>
<div id="home_products" class=""></div>

<!-- <div class="justify-end rounded-lg flex z-10 relative top-24 mb-52">
  
</div> -->

<!-- <div class="container">
  <p class="text-6xl">Une paire de manche pour rafiner votre tenue</p>
</div> -->
