<div class="flex justify-between relative container mt-10">
  <!-- <div class="w-[400px] bg-black">asfhask jhfgsaj  hfgaskj fgsakjfh gaskjghsafkjh gsakfhgs adjha gsfkjhsdagf ksha gfkhasg</div> -->
  <app-product-card src="/assets/img/designer_main.jpg"></app-product-card>
  <app-product-card src="/assets/img/designer_main.jpg"></app-product-card>
  <app-product-card src="/assets/img/designer_main.jpg"></app-product-card>
  <app-product-card src="/assets/img/designer_main.jpg"></app-product-card>
</div>
