<div class="container mb-28 pt-3 bg-paleWhite rounded-3xl" data-aos="zoom-in" data-aos-duration="700" data-aos-once="true" >
  <ng-container>
    <div class="flex flex-col items-center md:items-stretch md:flex-row">
      <ng-container *ngIf="starOfTheSeasonProduct$ | async as starOfTheSeason">
        <div class="flex-initial w-[350px]">
          <app-card-title [title]="'Étoile de la saison'"></app-card-title>
          
            <app-carousel
              [config]="swiperConfigStarOfSeason"
              [variant]="'product'"
              [slides]="[starOfTheSeason]"
            ></app-carousel>
          
        </div>
      </ng-container>
      <ng-container *ngIf="starProducts$ | async as products">
        <div class="flex-initial w-[350px] md:flex-auto md:w-64">
          <app-card-title [title]="'Anciennes étoiles'"></app-card-title>
          <app-carousel
            [config]="swiperConfig"
            [variant]="'product'"
            [slides]="products"
          ></app-carousel>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
