<div *ngIf="label" class="text-xs mb-1">{{label}}</div>
<ng-select
  [items]="variants"
  [(ngModel)]="currentVariantSelected"
  bindLabel="sku"
  bindValue="sku"
  class="custom"
>
  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
    <a [routerLink]="['/products', item.slug[0], item.slug[1]]">
      <div style="margin: 10px 0" class="card" *ngIf="item.name !== 'Kaunas'">
        <div class="flex justify-between items-center">
          <div>
            <h5 class="font-semibold text-base">{{ item.sku }}</h5>
            <h6 *ngIf="item.lengthType">
              {{ item.lengthType.title }}
            </h6>
          </div>
          <div>{{ item.price.toFixed(2) }}$</div>
        </div>
      </div>
    </a>
  </ng-template>
</ng-select>
