<ng-container *ngIf="aboutData$ | async as aboutData">
  <div
    class="relative container mb-28 bg-paleWhite rounded-3xl mt-5"
    data-aos="zoom-in"
    data-aos-duration="700"
    data-aos-once="true"
    class="relative container mb-28 bg-paleWhite rounded-3xl"
  >
    <div class="py-5">
        <app-emply-card [width]="'w-[80%] mx-auto'" >
          <div class="flex gap-6">
            <div class="flex-auto">
              <div class="text-3xl font-bold">
                Qui est France<span class="text-accent">?</span>
              </div>
              <app-block-content
                [objectKey]="'body'"
                [data]="aboutData"
              ></app-block-content>
            </div>
            <div class="flex justify-center">
              <app-emply-card [width]="'flex-initial w-60'" >
                <app-image
                  [width]="'w-40'"
                  [src]="aboutData.image.imageUrl"
                  [round]="true"
                ></app-image>
                <div class="flex justify-center">
                  <div>
                    <div class="text-center mt-5 text-xl font-semibold">
                      France Lavoie
                    </div>
                    <div class="flex flex-col items-center mt-3">
                      <ng-container *ngFor="let media of aboutData.medias">
                        <ng-container *ngIf="!media.isSocialMedia">
                          <app-media-icons
                            [mediaIcon]="media"
                          ></app-media-icons>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div class="flex justify-center gap-2 mt-2">
                      <ng-container *ngFor="let media of aboutData.medias">
                        <ng-container *ngIf="media.isSocialMedia">
                          <app-media-icons
                            [mediaIcon]="media"
                          ></app-media-icons>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </app-emply-card>
            </div>
          </div>
        </app-emply-card>
    </div>
  </div>
</ng-container>
