<!-- <div class="relative overflow-hidden mb-12">
  <img class="w-screen" src="/assets/svg/hero_background.svg" alt="" />
</div> -->

<div class="mb-12">
  <div class="bg-transparentAccent">
    <div class="flex container justify-end gap-8">
      <div class="flex">
        <div class="left-32">
          <p class="text-6xl mt-32 font-semibold">
            Une paire de manches pour chaque outfit
          </p>
          <p class="text-xl mt-6">
            Une paire de manches pour chaque outfit htjhd dfjhgsdf sdjfhgs fsfgs
            sdfhdjfhsgdf sjdfhg
          </p>
          <div class="mt-10">
            <app-base-button
              [text]="'Voir les produits'"
              [size]="'big'"
              [variant]="'text-button'"
              [textColor]="'white'"
              [routerLink]="'products'"
            ></app-base-button>
          </div>
        </div>
        <!-- placeholder for the absolute image -->
        <div class="w-[800px] h-[550px]"></div>
      </div>
      <div class="absolute my-12 right-0">
        <img
          src="assets/img/home_top.png"
          class="2xl:w-[800px] xl:w-[600px] h-auto"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="h-32 bg-accent"></div>
</div>

<!-- <div class="justify-end rounded-lg flex z-10 relative top-24 mb-52">
  
</div> -->

<!-- <div class="container">
  <p class="text-6xl">Une paire de manche pour rafiner votre tenue</p>
</div> -->
